.searchbar_form-ctn {
    display: flex;
    align-items: center;
    position: relative;
}

.searchbar {
    border: 2px solid rgb(216, 216, 216);
    padding: 1em;
    border-radius: 30px;
    width: 60vw;
    font-size: larger;
    background-color: white;
    z-index: 0;
    position: relative;
}

.searchbar-btn {
    border: 2px solid rgb(216, 216, 216);
    border-radius: 26px;
    height: 2.85em;
    z-index: 1;
    width: 75px;
    font-weight: bolder;
    font-size: large;
    position: absolute;
    right: 5px;

    &:hover {
        background-color: rgb(153, 181, 206);
        cursor: pointer;
    }
}

.autocomplete-list {
    height: fit-content;
    list-style: none;
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 75px;
    padding: 0;
    background-color: white;


    &-item {
        display: grid;
        width: 100%;
        color: grey;
        height: 3.5em;
        grid-template-columns: 15% 40% 25% 20%;
        cursor: pointer;
        padding: .5em;
        transition: 150ms ease-in-out all;
        align-items: center;

        &:hover {
            background-color: rgb(230, 249, 255);
            transition: 150ms ease-in-out all;
        }

        .symbol {
            text-align: left;
        }

        .shortname {
            text-align: left;
        }
    }

    .watchlist_add-btn {

        display: none;

        &.visible {
            display: flex;
            border-radius: 50%;
            right: 0;
            transform: translate(-15%, -15%);
            font-weight: bold;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            justify-self: right;
            text-align: center;

            &:hover {
                background-color: white;
            }
        }

    }

}

.instrument_selction {
    &-ctn {
        display: flex;
    }

    &-btn {
        background-color: white;
        padding: 1em;
        margin: 1em;
        border: 1px solid rgb(188, 220, 248);
        border-radius: 26px;
        cursor: pointer;
        width: 200px;
        font-weight: bold;
        font-size: large;

        &:focus {
            background-color: rgb(188, 220, 248);
        }

        &.active {
            background-color: rgb(188, 220, 248);
        }

        &:hover {
            background-color: rgb(188, 220, 248);

        }
    }

}